{% extends "main.html" %}

{% block tabs %}
  {{ super() }}


<style>



.button {
  font-size:.9rem;
  font-weight: bold;
  border-radius:0px;
  padding-left:0.7em;
  padding-right:0.7em;
  padding-top:0.7em;
  padding-bottom:0.7em;
  color:#000000;
  background-color:#ffca40;
  outline:none;
  border:none;
  cursor:pointer;
  display:inline-block;
  transition: all 250ms ease-out;
}

.button:hover {
  color:#000000;
  background-color:#fffffff1;
}

@media only screen and (max-width: 1220px) {
  .md-header {
    box-shadow: 0 0 .2rem rgba(0,0,0,.1),0 .2rem .4rem rgba(0,0,0,.2);
    transition: color 250ms,background-color 250ms,box-shadow 250ms;
  }
}

/* Hide main content for now */
.md-content {
  display: none;
}

/* Hide table of contents */
@media screen and (min-width: 60em) {
  .md-sidebar--secondary {
    display: none;
  }
}

/* Hide navigation */
@media screen and (min-width: 76.25em) {
  .md-sidebar--primary {
    display: none;
  }
}

body {
  background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
  padding: auto;
}

#hero {
  height: 44vh;
  margin-right: auto;
  margin-left: 10%;
  max-width: 61rem;
  
/* ici, le background est aléatoire, voir random.js */

  color: whitesmoke;
}
.container {

  height: 90%;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: left;
}

#hero .info h1 {
  font-size: 1.7rem;
  margin-bottom: 0.6rem;
}
#hero .info h2 {
  font-size: 0.8rem;
  margin-bottom: 0.6rem;
}
#hero .info p {
  font-size: 0.7rem;
  max-width: 80%;
}



</style>

<!-- script background aléatoire -->
<script src='assets/js/aleatoire.js'></script>

<section id="hero">
    <div class="container">
      <div class="info">
        <h1>Wiki CréaNum</h1>
        <h2>Bienvenue sur le wiki dédié aux Espaces de création numérique <br>
            des bibliothèques de l'Université de Montréal. </h2>
        <p>Vous trouverez ici des ressources et des outils <br>
        pour vous aider à créer des projets numériques. </p>
        <a href="communaute/">
        <button class="button">Contribuer au développement du wiki</button></a>
      </div>
    </div>
  </section>

{% endblock %}
{% block content %}
{% endblock %}