/* Couleurs UdeM */

:root {
    --md-primary-fg-color:         #0057ac;
    --md-accent-fg-color:          #0057ac;
    --md-primary-fg-color--light:  #0057ac;
    --md-primary-fg-color--dark:   #0057ac;
  }

 /* Couleurs du mode sombre */
[data-md-color-scheme=slate] {
  --md-typeset-a-color: #ffca40;
  --md-accent-fg-color: #ffca40;
  --md-hue: 220; 
  --md-default-fg-color--light:#ffffff;
  /* --md-default-fg-color--lighter:#ffca40; */
}

 /* Couleurs du mode clair */
[data-md-color-scheme=default] {
  /* couleur du fond */
  --md-default-bg-color:#f8f8f8; 
}


/* taille du logo */
.md-header__button.md-logo img, .md-header__button.md-logo svg {
  height: 2.8rem;
  width: auto;
}

.md-header__title {
  line-height: 3.25rem;
}  

/* gras quand item sélectionné sur le menu en haut */
/* .md-tabs__link--active, .md-tabs__link:focus, .md-tabs__link:hover {
  -webkit-text-stroke:thin;
  opacity: 1;
} */

.md-copyright {
    color:white;
}


a:hover, a:focus {
  text-decoration: underline;
}

.md-social {
  margin: -0.3rem;
  padding: 0.2rem 0 0.6rem;
}



/* retour à la ligne dans la navigation gauche */
.md-ellipsis {
  white-space: normal;
}

/* item stroke thin quand sélectionné dans la navigation gauche */
/* .md-nav__item .md-nav__link--active, .md-nav__item .md-nav__link--active code {
-webkit-text-stroke: thin;
} */

/* .md-tabs {
  background-color: #0b113a;
} */


/* Style du bouton */


.md-social {
  margin: 0.7rem;
}

/* Lien externe */
.md-content a[href^="http"]::after,
.md-content a[href^="https://"]::after
{
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-left: 0.3em;
  content: "\f35d";
}

.md-content a[href^="https://bib.umontreal.ca"]::after,
.md-content a[href^="https://calendrier.bib.umontreal.ca"]::after
{
  display: none !important;
}

/* barre bleu lors de la navigation dans les items à gauche (navigation) et à droite (toc) */
.md-nav__item--section > .md-nav > .md-nav__list > .md-nav__item--active,
.md-nav--secondary .md-nav__link--active {
  /* font-weight: 700;  */
  margin-left:  0;
  padding-left: 3px;
  border-left: 3px solid;
  border-left-color:   #1d70b8;
}

/* menu en haut */
.md-tabs__link {
  opacity: 1;
  font-size: .7rem;
}

.md-tabs {
  color: #f8f8f8 ;
  background-color: #0057ac;
  line-height: 1;
  font-weight: 600;
  }

  
.md-tabs__link:hover {
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 3px;
}
  
.md-tabs__item--active {
    border-bottom: 4px solid;
    border-bottom-color:   #1d70b8;
  }

.md-tabs__link:hover {
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-underline-offset: 3px;
}

.md-tabs__item--active {
  border-bottom: 4px solid;
  border-bottom-color:   #1d70b8;
}

@media screen and (max-width: 76.25em) {
  .md-header__title {
    line-height: 2.4rem;
  }
}

.md-footer__direction {
  display:none;
 }
 